In [68]:
import pandas as pd
import numpy as np

In [69]:
data1 = pd.read_csv (r'documents\data1.csv', delimiter=';')
data1

,PROVINSI,2010 L,2011 L,2012 L,2013 L,2014 L,2015 L,2016 L,2017 L,2010 P,2011 P,2012 P,2013 P,2014 P,2015 P,2016 P,2017 P
0,ACEH,12.61,12.8,12.81,13.11,13.33,13.43,13.67,13.95,13.21,13.27,13.6,13.63,13.75,14.05,14.11,14.32
1,SUMATERA UTARA,11.77,11.77,11.78,12.26,12.43,12.47,12.67,12.92,11.86,11.94,12.19,12.56,12.82,13.20,13.34,13.35
2,SUMATERA BARAT,11.83,11.89,12.36,12.75,13.07,13.07,13.35,13.53,12.59,13.15,13.28,13.57,13.90,14.14,14.24,14.38
3,RIAU,11.6,11.68,11.72,12.20,12.28,12.55,12.74,12.84,11.94,12.08,12.21,12.35,12.48,12.95,13.00,13.23
4,JAMBI,11.24,11.54,11.58,12.03,12.27,12.28,12.57,12.72,11.45,11.66,11.87,12.31,12.50,12.88,12.89,13.04
5,SUMATERA SELATAN,10.81,11.16,11.26,11.34,11.74,11.86,12.17,12.18,11.25,11.26,11.58,11.58,11.76,12.20,12.30,12.56
6,BENGKULU,11.45,11.83,11.85,12.62,12.86,12.87,13.20,13.29,11.74,11.93,12.57,12.95,13.19,13.56,13.57,13.86
7,LAMPUNG,10.76,10.81,11.27,11.83,12.15,12.16,12.28,12.29,10.99,11.29,11.48,11.97,12.35,12.40,12.46,12.67
8,KEP. BANGKA BELITUNG,10.24,10.5,10.53,10.79,11.11,11.45,11.56,11.66,10.73,10.9,11.09,11.13,11.28,11.70,11.88,12.00
9,KEP. RIAU,11.15,11.57,11.76,12.12,12.38,12.39,12.52,12.76,11.91,11.97,12.03,12.40,12.66,12.82,12.82,12.88
10,DKI JAKARTA,12.22,12.24,12.26,12.28,12.47,12.61,12.68,12.96,11.55,11.63,11.78,12.22,12.30,12.53,12.80,12.81
11,JAWA BARAT,10.81,11.02,11.24,11.87,12.13,12.14,12.15,12.41,10.58,10.78,11.24,11.75,12.03,12.34,12.50,12.51
12,JAWA TENGAH,11.17,11.22,11.43,11.91,12.20,12.29,12.34,12.52,10.95,11.15,11.35,11.87,12.14,12.47,12.57,12.63
13,DI YOGYAKARTA,14.56,14.76,14.78,14.80,15.21,15.22,15.53,15.54,13.68,14.43,14.47,14.49,14.50,14.88,14.92,15.14
14,JAWA TIMUR,11.61,11.72,11.76,12.24,12.60,12.72,13.20,13.21,11.39,11.51,11.73,12.09,12.31,12.60,12.78,13.03
15,BANTEN,10.71,11.2,11.73,12.00,12.29,12.30,12.79,12.80,11.36,11.6,11.85,12.10,12.32,12.47,12.60,12.77
16,BALI,11.95,12.39,12.42,12.56,12.82,13.31,13.32,13.33,11.46,11.88,12.08,12.21,12.46,12.59,12.77,13.13
17,NUSA TENGGARA BARAT,11.86,12.24,12.33,12.54,12.83,13.17,13.40,13.58,11.5,11.73,12.13,12.41,12.66,12.91,12.93,13.36
18,NUSA TENGGARA TIMUR,10.78,11.48,11.61,12.23,12.60,12.70,12.84,13.05,10.93,11.61,11.87,12.30,12.71,13.01,13.07,13.08
19,KALIMANTAN BARAT,10.86,11.01,11.17,11.60,12.40,12.41,12.45,12.46,10.7,10.71,11.05,11.61,11.62,12.11,12.30,12.68
20,KALIMANTAN TENGAH,11.04,11.13,11.21,11.60,11.73,12.05,12.24,12.44,11.13,11.15,11.23,11.74,12.38,12.41,12.42,12.48
21,KALIMANTAN SELATAN,10.74,11.09,11.44,11.55,11.81,12.15,12.16,12.53,10.97,11.3,11.63,11.79,12.12,12.29,12.41,12.42
22,KALIMANTAN TIMUR,11.75,12.05,12.34,12.71,13.12,13.13,13.20,13.42,12.01,12.32,12.63,13.01,13.23,13.29,13.53,13.67
23,KALIMANTAN UTARA,-,-,-,12.18,12.45,12.46,12.47,12.81,-,-,-,12.48,12.64,12.65,12.70,12.77
24,SULAWESI UTARA,10.95,11.22,11.38,11.61,11.86,12.24,12.27,12.42,11.75,11.79,12.19,12.35,12.51,12.63,12.88,12.95
25,SULAWESI TENGAH,10.99,11.68,11.73,12.12,12.37,12.39,12.69,12.82,11.37,11.96,12.46,12.61,13.09,13.12,13.16,13.27
26,SULAWESI SELATAN,11.13,11.54,11.97,12.40,12.70,12.73,12.91,12.99,11.8,12.09,12.35,12.68,13.10,13.27,13.41,13.59
27,SULAWESI TENGGARA,12.07,12.28,12.3,12.32,12.69,12.80,13.09,13.17,12.24,12.32,12.66,12.77,12.87,13.35,13.37,13.54
28,GORONTALO,10.74,11.13,11.45,11.77,12.08,12.19,12.41,12.54,11.48,12.24,12.47,12.49,12.91,13.23,13.40,13.50
29,SULAWESI BARAT,10.52,11.16,11.22,11.34,11.46,11.96,12.16,12.27,10.68,11.25,11.37,11.75,12.13,12.41,12.52,12.71
30,MALUKU,12.39,12.46,12.65,13.01,13.33,13.47,13.68,13.69,12.88,13.24,13.32,13.70,13.72,13.73,13.78,14.25
31,MALUKU UTARA,11.27,11.72,12.18,12.40,12.52,13.09,13.51,13.69,11.79,11.88,12.22,12.57,12.92,13.11,13.40,13.43
32,PAPUA BARAT,11.48,11.53,11.58,11.94,12.21,12.68,12.88,13.13,10.64,10.97,11.28,11.37,11.48,11.68,11.90,12.10
33,PAPUA,8.88,9.17,9.24,9.68,10.02,10.10,10.38,10.65,8.23,8.64,8.96,9.45,9.85,9.85,9.93,10.24
34,INDONESIA,11.2,11.41,11.63,12.07,12.37,12.42,12.67,12.78,11.37,11.56,11.75,12.13,12.40,12.68,12.79,12.93

In [70]:
data2=pd.read_csv(r'documents\data2.csv', delimiter=';')
data2

,PROVINSI,2010 L,2011 L,2012 L,2013 L,2014 L,2015 L,2016 L,2017 L,2010 P,2011 P,2012 P,2013 P,2014 P,2015 P,2016 P,2017 P
0,ACEH,67.17,67.25,67.32,67.40,67.44,67.59,67.61,67.62,71.09,71.16,71.22,71.30,71.34,71.49,71.52,71.55
1,SUMATERA UTARA,65.59,65.76,65.93,66.06,66.16,66.41,66.48,66.49,69.43,69.61,69.78,69.91,70.01,70.26,70.29,70.29
2,SUMATERA BARAT,65.7,65.9,66.11,66.31,66.41,66.75,66.90,66.94,69.58,69.78,69.99,70.20,70.31,70.65,70.65,70.70
3,RIAU,68.26,68.43,68.61,68.79,68.88,69.05,69.10,69.12,72.14,72.3,72.46,72.64,72.73,72.90,72.90,72.92
4,JAMBI,67.99,68.14,68.3,68.46,68.54,68.67,68.69,68.75,71.88,72.03,72.18,72.33,72.41,72.54,72.62,72.67
5,SUMATERA SELATAN,66.45,66.62,66.78,66.95,67.03,67.25,67.28,67.29,70.34,70.49,70.66,70.83,70.91,71.13,71.16,71.17
6,BENGKULU,65.92,66.08,66.26,66.43,66.47,66.60,66.62,66.64,69.81,69.98,70.16,70.32,70.35,70.48,70.49,70.51
7,LAMPUNG,67.01,67.23,67.45,67.66,67.76,68.00,68.03,68.04,70.9,71.1,71.31,71.53,71.64,71.88,71.90,71.91
8,KEP. BANGKA BELITUNG,67.25,67.42,67.6,67.77,67.85,68.01,68.05,68.08,71.14,71.3,71.45,71.61,71.69,71.85,71.88,71.89
9,KEP. RIAU,66.54,66.76,66.98,67.18,67.28,67.54,67.59,67.60,70.39,70.59,70.81,71.02,71.12,71.38,71.39,71.40
10,DKI JAKARTA,69.86,70.02,70.19,70.36,70.44,70.60,70.72,70.78,73.65,73.8,73.96,74.12,74.20,74.36,74.41,74.41
11,JAWA BARAT,69.4,69.68,69.95,70.22,70.35,70.54,70.57,70.58,73.27,73.53,73.79,74.05,74.18,74.36,74.39,74.42
12,JAWA TENGAH,70.8,70.99,71.18,71.37,71.97,72.05,72.10,72.16,74.75,74.92,75.1,75.28,75.87,75.95,75.99,76.02
13,DI YOGYAKARTA,72.36,72.47,72.57,72.67,72.72,72.90,72.92,72.95,76.06,76.14,76.24,76.32,76.36,76.54,76.54,76.57
14,JAWA TIMUR,68,68.13,68.25,68.45,68.56,68.79,68.80,68.82,71.89,72.01,72.13,72.33,72.44,72.67,72.68,72.70
15,BANTEN,66.6,66.78,66.97,67.15,67.24,67.54,67.54,67.57,70.48,70.66,70.84,71.02,71.11,71.41,71.44,71.47
16,BALI,68.73,68.89,69.06,69.24,69.33,69.49,69.55,69.58,72.59,72.76,72.91,73.07,73.15,73.31,73.32,73.35
17,NUSA TENGGARA BARAT,61.95,62.27,62.56,62.88,63.04,63.52,63.55,63.57,65.77,66.09,66.4,66.70,66.85,67.33,67.39,67.42
18,NUSA TENGGARA TIMUR,63.42,63.59,63.77,63.95,64.04,64.09,64.17,64.20,67.24,67.41,67.6,67.77,67.85,67.91,67.92,67.96
19,KALIMANTAN BARAT,67.15,67.35,67.56,67.76,67.86,67.97,67.99,68.00,71.07,71.28,71.47,71.66,71.75,71.87,71.89,71.90
20,KALIMANTAN TENGAH,67.16,67.25,67.35,67.41,67.52,67.67,67.68,67.69,70.98,71.06,71.16,71.23,71.34,71.49,71.49,71.50
21,KALIMANTAN SELATAN,64.76,64.99,65.23,65.46,65.57,65.90,65.92,65.98,68.63,68.86,69.09,69.33,69.45,69.78,69.84,69.95
22,KALIMANTAN TIMUR,71.03,71.25,71.46,71.68,71.79,71.82,71.85,71.87,74.84,75.05,75.27,75.46,75.56,75.59,75.59,75.61
23,KALIMANTAN UTARA,-,-,-,70.06,70.17,70.47,70.49,70.50,-,-,-,73.88,73.98,74.28,74.30,74.34
24,SULAWESI UTARA,68.51,68.65,68.8,68.95,69.03,69.08,69.09,69.11,72.39,72.55,72.7,72.85,72.92,72.98,72.99,73.01
25,SULAWESI TENGAH,64.17,64.48,64.8,65.11,65.27,65.34,65.39,65.40,68.07,68.39,68.7,69.02,69.18,69.26,69.28,69.29
26,SULAWESI SELATAN,67.01,67.2,67.4,67.59,67.69,67.89,67.94,67.96,70.94,71.12,71.31,71.50,71.59,71.80,71.84,71.86
27,SULAWESI TENGGARA,67.72,67.93,68.14,68.35,68.45,68.50,68.54,68.57,71.67,71.87,72.08,72.30,72.41,72.46,72.47,72.47
28,GORONTALO,64.51,64.68,64.84,65.00,65.08,65.20,65.22,65.22,68.41,68.59,68.77,68.94,69.03,69.14,69.16,69.20
29,SULAWESI BARAT,60.64,60.92,61.18,61.46,62.18,62.36,62.49,62.52,64.45,64.72,65,65.28,66.00,66.18,66.20,66.23
30,MALUKU,62.59,62.74,62.9,63.04,63.11,63.41,63.44,63.49,66.42,66.58,66.74,66.90,66.98,67.28,67.34,67.39
31,MALUKU UTARA,64.8,64.97,65.12,65.31,65.41,65.50,65.53,65.56,68.69,68.88,69.08,69.28,69.38,69.48,69.50,69.53
32,PAPUA BARAT,62.7,62.88,63,63.17,63.26,63.31,63.32,63.34,66.57,66.72,66.86,67.02,67.10,67.15,67.16,67.19
33,PAPUA,62.51,62.66,62.81,62.97,63.05,63.30,63.44,63.45,66.19,66.34,66.48,66.64,66.72,66.97,66.99,67.00
34,INDONESIA,67.89,68.09,68.29,68.49,68.87,68.93,69.09,69.16,71.83,72.02,72.22,72.41,72.59,72.78,72.80,73.06

In [71]:
mer1 = pd.merge(data1, data2, on='PROVINSI')
mer1

,PROVINSI,2010 L_x,2011 L_x,2012 L_x,2013 L_x,2014 L_x,2015 L_x,2016 L_x,2017 L_x,2010 P_x,...,2016 L_y,2017 L_y,2010 P_y,2011 P_y,2012 P_y,2013 P_y,2014 P_y,2015 P_y,2016 P_y,2017 P_y
0,ACEH,12.61,12.8,12.81,13.11,13.33,13.43,13.67,13.95,13.21,...,67.61,67.62,71.09,71.16,71.22,71.30,71.34,71.49,71.52,71.55
1,SUMATERA UTARA,11.77,11.77,11.78,12.26,12.43,12.47,12.67,12.92,11.86,...,66.48,66.49,69.43,69.61,69.78,69.91,70.01,70.26,70.29,70.29
2,SUMATERA BARAT,11.83,11.89,12.36,12.75,13.07,13.07,13.35,13.53,12.59,...,66.90,66.94,69.58,69.78,69.99,70.20,70.31,70.65,70.65,70.70
3,RIAU,11.6,11.68,11.72,12.20,12.28,12.55,12.74,12.84,11.94,...,69.10,69.12,72.14,72.3,72.46,72.64,72.73,72.90,72.90,72.92
4,JAMBI,11.24,11.54,11.58,12.03,12.27,12.28,12.57,12.72,11.45,...,68.69,68.75,71.88,72.03,72.18,72.33,72.41,72.54,72.62,72.67
5,SUMATERA SELATAN,10.81,11.16,11.26,11.34,11.74,11.86,12.17,12.18,11.25,...,67.28,67.29,70.34,70.49,70.66,70.83,70.91,71.13,71.16,71.17
6,BENGKULU,11.45,11.83,11.85,12.62,12.86,12.87,13.20,13.29,11.74,...,66.62,66.64,69.81,69.98,70.16,70.32,70.35,70.48,70.49,70.51
7,LAMPUNG,10.76,10.81,11.27,11.83,12.15,12.16,12.28,12.29,10.99,...,68.03,68.04,70.9,71.1,71.31,71.53,71.64,71.88,71.90,71.91
8,KEP. BANGKA BELITUNG,10.24,10.5,10.53,10.79,11.11,11.45,11.56,11.66,10.73,...,68.05,68.08,71.14,71.3,71.45,71.61,71.69,71.85,71.88,71.89
9,KEP. RIAU,11.15,11.57,11.76,12.12,12.38,12.39,12.52,12.76,11.91,...,67.59,67.60,70.39,70.59,70.81,71.02,71.12,71.38,71.39,71.40
10,DKI JAKARTA,12.22,12.24,12.26,12.28,12.47,12.61,12.68,12.96,11.55,...,70.72,70.78,73.65,73.8,73.96,74.12,74.20,74.36,74.41,74.41
11,JAWA BARAT,10.81,11.02,11.24,11.87,12.13,12.14,12.15,12.41,10.58,...,70.57,70.58,73.27,73.53,73.79,74.05,74.18,74.36,74.39,74.42
12,JAWA TENGAH,11.17,11.22,11.43,11.91,12.20,12.29,12.34,12.52,10.95,...,72.10,72.16,74.75,74.92,75.1,75.28,75.87,75.95,75.99,76.02
13,DI YOGYAKARTA,14.56,14.76,14.78,14.80,15.21,15.22,15.53,15.54,13.68,...,72.92,72.95,76.06,76.14,76.24,76.32,76.36,76.54,76.54,76.57
14,JAWA TIMUR,11.61,11.72,11.76,12.24,12.60,12.72,13.20,13.21,11.39,...,68.80,68.82,71.89,72.01,72.13,72.33,72.44,72.67,72.68,72.70
15,BANTEN,10.71,11.2,11.73,12.00,12.29,12.30,12.79,12.80,11.36,...,67.54,67.57,70.48,70.66,70.84,71.02,71.11,71.41,71.44,71.47
16,BALI,11.95,12.39,12.42,12.56,12.82,13.31,13.32,13.33,11.46,...,69.55,69.58,72.59,72.76,72.91,73.07,73.15,73.31,73.32,73.35
17,NUSA TENGGARA BARAT,11.86,12.24,12.33,12.54,12.83,13.17,13.40,13.58,11.5,...,63.55,63.57,65.77,66.09,66.4,66.70,66.85,67.33,67.39,67.42
18,NUSA TENGGARA TIMUR,10.78,11.48,11.61,12.23,12.60,12.70,12.84,13.05,10.93,...,64.17,64.20,67.24,67.41,67.6,67.77,67.85,67.91,67.92,67.96
19,KALIMANTAN BARAT,10.86,11.01,11.17,11.60,12.40,12.41,12.45,12.46,10.7,...,67.99,68.00,71.07,71.28,71.47,71.66,71.75,71.87,71.89,71.90
20,KALIMANTAN TENGAH,11.04,11.13,11.21,11.60,11.73,12.05,12.24,12.44,11.13,...,67.68,67.69,70.98,71.06,71.16,71.23,71.34,71.49,71.49,71.50
21,KALIMANTAN SELATAN,10.74,11.09,11.44,11.55,11.81,12.15,12.16,12.53,10.97,...,65.92,65.98,68.63,68.86,69.09,69.33,69.45,69.78,69.84,69.95
22,KALIMANTAN TIMUR,11.75,12.05,12.34,12.71,13.12,13.13,13.20,13.42,12.01,...,71.85,71.87,74.84,75.05,75.27,75.46,75.56,75.59,75.59,75.61
23,KALIMANTAN UTARA,-,-,-,12.18,12.45,12.46,12.47,12.81,-,...,70.49,70.50,-,-,-,73.88,73.98,74.28,74.30,74.34
24,SULAWESI UTARA,10.95,11.22,11.38,11.61,11.86,12.24,12.27,12.42,11.75,...,69.09,69.11,72.39,72.55,72.7,72.85,72.92,72.98,72.99,73.01
25,SULAWESI TENGAH,10.99,11.68,11.73,12.12,12.37,12.39,12.69,12.82,11.37,...,65.39,65.40,68.07,68.39,68.7,69.02,69.18,69.26,69.28,69.29
26,SULAWESI SELATAN,11.13,11.54,11.97,12.40,12.70,12.73,12.91,12.99,11.8,...,67.94,67.96,70.94,71.12,71.31,71.50,71.59,71.80,71.84,71.86
27,SULAWESI TENGGARA,12.07,12.28,12.3,12.32,12.69,12.80,13.09,13.17,12.24,...,68.54,68.57,71.67,71.87,72.08,72.30,72.41,72.46,72.47,72.47
28,GORONTALO,10.74,11.13,11.45,11.77,12.08,12.19,12.41,12.54,11.48,...,65.22,65.22,68.41,68.59,68.77,68.94,69.03,69.14,69.16,69.20
29,SULAWESI BARAT,10.52,11.16,11.22,11.34,11.46,11.96,12.16,12.27,10.68,...,62.49,62.52,64.45,64.72,65,65.28,66.00,66.18,66.20,66.23
30,MALUKU,12.39,12.46,12.65,13.01,13.33,13.47,13.68,13.69,12.88,...,63.44,63.49,66.42,66.58,66.74,66.90,66.98,67.28,67.34,67.39
31,MALUKU UTARA,11.27,11.72,12.18,12.40,12.52,13.09,13.51,13.69,11.79,...,65.53,65.56,68.69,68.88,69.08,69.28,69.38,69.48,69.50,69.53
32,PAPUA BARAT,11.48,11.53,11.58,11.94,12.21,12.68,12.88,13.13,10.64,...,63.32,63.34,66.57,66.72,66.86,67.02,67.10,67.15,67.16,67.19
33,PAPUA,8.88,9.17,9.24,9.68,10.02,10.10,10.38,10.65,8.23,...,63.44,63.45,66.19,66.34,66.48,66.64,66.72,66.97,66.99,67.00
34,INDONESIA,11.2,11.41,11.63,12.07,12.37,12.42,12.67,12.78,11.37,...,69.09,69.16,71.83,72.02,72.22,72.41,72.59,72.78,72.80,73.06

In [72]:
mer_2 = data1.drop(['2010 L', '2011 L', '2012 L', '2013 L', '2014 L', '2015 L', '2016 L', '2017 L'], axis=1)
mer_2

,PROVINSI,2010 P,2011 P,2012 P,2013 P,2014 P,2015 P,2016 P,2017 P
0,ACEH,13.21,13.27,13.6,13.63,13.75,14.05,14.11,14.32
1,SUMATERA UTARA,11.86,11.94,12.19,12.56,12.82,13.20,13.34,13.35
2,SUMATERA BARAT,12.59,13.15,13.28,13.57,13.90,14.14,14.24,14.38
3,RIAU,11.94,12.08,12.21,12.35,12.48,12.95,13.00,13.23
4,JAMBI,11.45,11.66,11.87,12.31,12.50,12.88,12.89,13.04
5,SUMATERA SELATAN,11.25,11.26,11.58,11.58,11.76,12.20,12.30,12.56
6,BENGKULU,11.74,11.93,12.57,12.95,13.19,13.56,13.57,13.86
7,LAMPUNG,10.99,11.29,11.48,11.97,12.35,12.40,12.46,12.67
8,KEP. BANGKA BELITUNG,10.73,10.9,11.09,11.13,11.28,11.70,11.88,12.00
9,KEP. RIAU,11.91,11.97,12.03,12.40,12.66,12.82,12.82,12.88
10,DKI JAKARTA,11.55,11.63,11.78,12.22,12.30,12.53,12.80,12.81
11,JAWA BARAT,10.58,10.78,11.24,11.75,12.03,12.34,12.50,12.51
12,JAWA TENGAH,10.95,11.15,11.35,11.87,12.14,12.47,12.57,12.63
13,DI YOGYAKARTA,13.68,14.43,14.47,14.49,14.50,14.88,14.92,15.14
14,JAWA TIMUR,11.39,11.51,11.73,12.09,12.31,12.60,12.78,13.03
15,BANTEN,11.36,11.6,11.85,12.10,12.32,12.47,12.60,12.77
16,BALI,11.46,11.88,12.08,12.21,12.46,12.59,12.77,13.13
17,NUSA TENGGARA BARAT,11.5,11.73,12.13,12.41,12.66,12.91,12.93,13.36
18,NUSA TENGGARA TIMUR,10.93,11.61,11.87,12.30,12.71,13.01,13.07,13.08
19,KALIMANTAN BARAT,10.7,10.71,11.05,11.61,11.62,12.11,12.30,12.68
20,KALIMANTAN TENGAH,11.13,11.15,11.23,11.74,12.38,12.41,12.42,12.48
21,KALIMANTAN SELATAN,10.97,11.3,11.63,11.79,12.12,12.29,12.41,12.42
22,KALIMANTAN TIMUR,12.01,12.32,12.63,13.01,13.23,13.29,13.53,13.67
23,KALIMANTAN UTARA,-,-,-,12.48,12.64,12.65,12.70,12.77
24,SULAWESI UTARA,11.75,11.79,12.19,12.35,12.51,12.63,12.88,12.95
25,SULAWESI TENGAH,11.37,11.96,12.46,12.61,13.09,13.12,13.16,13.27
26,SULAWESI SELATAN,11.8,12.09,12.35,12.68,13.10,13.27,13.41,13.59
27,SULAWESI TENGGARA,12.24,12.32,12.66,12.77,12.87,13.35,13.37,13.54
28,GORONTALO,11.48,12.24,12.47,12.49,12.91,13.23,13.40,13.50
29,SULAWESI BARAT,10.68,11.25,11.37,11.75,12.13,12.41,12.52,12.71
30,MALUKU,12.88,13.24,13.32,13.70,13.72,13.73,13.78,14.25
31,MALUKU UTARA,11.79,11.88,12.22,12.57,12.92,13.11,13.40,13.43
32,PAPUA BARAT,10.64,10.97,11.28,11.37,11.48,11.68,11.90,12.10
33,PAPUA,8.23,8.64,8.96,9.45,9.85,9.85,9.93,10.24
34,INDONESIA,11.37,11.56,11.75,12.13,12.40,12.68,12.79,12.93

In [73]:
mer_22 = data2.drop(['2010 L', '2011 L', '2012 L', '2013 L', '2014 L', '2015 L', '2016 L', '2017 L'], axis=1)
mer_22

,PROVINSI,2010 P,2011 P,2012 P,2013 P,2014 P,2015 P,2016 P,2017 P
0,ACEH,71.09,71.16,71.22,71.30,71.34,71.49,71.52,71.55
1,SUMATERA UTARA,69.43,69.61,69.78,69.91,70.01,70.26,70.29,70.29
2,SUMATERA BARAT,69.58,69.78,69.99,70.20,70.31,70.65,70.65,70.70
3,RIAU,72.14,72.3,72.46,72.64,72.73,72.90,72.90,72.92
4,JAMBI,71.88,72.03,72.18,72.33,72.41,72.54,72.62,72.67
5,SUMATERA SELATAN,70.34,70.49,70.66,70.83,70.91,71.13,71.16,71.17
6,BENGKULU,69.81,69.98,70.16,70.32,70.35,70.48,70.49,70.51
7,LAMPUNG,70.9,71.1,71.31,71.53,71.64,71.88,71.90,71.91
8,KEP. BANGKA BELITUNG,71.14,71.3,71.45,71.61,71.69,71.85,71.88,71.89
9,KEP. RIAU,70.39,70.59,70.81,71.02,71.12,71.38,71.39,71.40
10,DKI JAKARTA,73.65,73.8,73.96,74.12,74.20,74.36,74.41,74.41
11,JAWA BARAT,73.27,73.53,73.79,74.05,74.18,74.36,74.39,74.42
12,JAWA TENGAH,74.75,74.92,75.1,75.28,75.87,75.95,75.99,76.02
13,DI YOGYAKARTA,76.06,76.14,76.24,76.32,76.36,76.54,76.54,76.57
14,JAWA TIMUR,71.89,72.01,72.13,72.33,72.44,72.67,72.68,72.70
15,BANTEN,70.48,70.66,70.84,71.02,71.11,71.41,71.44,71.47
16,BALI,72.59,72.76,72.91,73.07,73.15,73.31,73.32,73.35
17,NUSA TENGGARA BARAT,65.77,66.09,66.4,66.70,66.85,67.33,67.39,67.42
18,NUSA TENGGARA TIMUR,67.24,67.41,67.6,67.77,67.85,67.91,67.92,67.96
19,KALIMANTAN BARAT,71.07,71.28,71.47,71.66,71.75,71.87,71.89,71.90
20,KALIMANTAN TENGAH,70.98,71.06,71.16,71.23,71.34,71.49,71.49,71.50
21,KALIMANTAN SELATAN,68.63,68.86,69.09,69.33,69.45,69.78,69.84,69.95
22,KALIMANTAN TIMUR,74.84,75.05,75.27,75.46,75.56,75.59,75.59,75.61
23,KALIMANTAN UTARA,-,-,-,73.88,73.98,74.28,74.30,74.34
24,SULAWESI UTARA,72.39,72.55,72.7,72.85,72.92,72.98,72.99,73.01
25,SULAWESI TENGAH,68.07,68.39,68.7,69.02,69.18,69.26,69.28,69.29
26,SULAWESI SELATAN,70.94,71.12,71.31,71.50,71.59,71.80,71.84,71.86
27,SULAWESI TENGGARA,71.67,71.87,72.08,72.30,72.41,72.46,72.47,72.47
28,GORONTALO,68.41,68.59,68.77,68.94,69.03,69.14,69.16,69.20
29,SULAWESI BARAT,64.45,64.72,65,65.28,66.00,66.18,66.20,66.23
30,MALUKU,66.42,66.58,66.74,66.90,66.98,67.28,67.34,67.39
31,MALUKU UTARA,68.69,68.88,69.08,69.28,69.38,69.48,69.50,69.53
32,PAPUA BARAT,66.57,66.72,66.86,67.02,67.10,67.15,67.16,67.19
33,PAPUA,66.19,66.34,66.48,66.64,66.72,66.97,66.99,67.00
34,INDONESIA,71.83,72.02,72.22,72.41,72.59,72.78,72.80,73.06

In [74]:
mer2 = pd.merge(mer_2, mer_22, on='PROVINSI')
mer2

,PROVINSI,2010 P_x,2011 P_x,2012 P_x,2013 P_x,2014 P_x,2015 P_x,2016 P_x,2017 P_x,2010 P_y,2011 P_y,2012 P_y,2013 P_y,2014 P_y,2015 P_y,2016 P_y,2017 P_y
0,ACEH,13.21,13.27,13.6,13.63,13.75,14.05,14.11,14.32,71.09,71.16,71.22,71.30,71.34,71.49,71.52,71.55
1,SUMATERA UTARA,11.86,11.94,12.19,12.56,12.82,13.20,13.34,13.35,69.43,69.61,69.78,69.91,70.01,70.26,70.29,70.29
2,SUMATERA BARAT,12.59,13.15,13.28,13.57,13.90,14.14,14.24,14.38,69.58,69.78,69.99,70.20,70.31,70.65,70.65,70.70
3,RIAU,11.94,12.08,12.21,12.35,12.48,12.95,13.00,13.23,72.14,72.3,72.46,72.64,72.73,72.90,72.90,72.92
4,JAMBI,11.45,11.66,11.87,12.31,12.50,12.88,12.89,13.04,71.88,72.03,72.18,72.33,72.41,72.54,72.62,72.67
5,SUMATERA SELATAN,11.25,11.26,11.58,11.58,11.76,12.20,12.30,12.56,70.34,70.49,70.66,70.83,70.91,71.13,71.16,71.17
6,BENGKULU,11.74,11.93,12.57,12.95,13.19,13.56,13.57,13.86,69.81,69.98,70.16,70.32,70.35,70.48,70.49,70.51
7,LAMPUNG,10.99,11.29,11.48,11.97,12.35,12.40,12.46,12.67,70.9,71.1,71.31,71.53,71.64,71.88,71.90,71.91
8,KEP. BANGKA BELITUNG,10.73,10.9,11.09,11.13,11.28,11.70,11.88,12.00,71.14,71.3,71.45,71.61,71.69,71.85,71.88,71.89
9,KEP. RIAU,11.91,11.97,12.03,12.40,12.66,12.82,12.82,12.88,70.39,70.59,70.81,71.02,71.12,71.38,71.39,71.40
10,DKI JAKARTA,11.55,11.63,11.78,12.22,12.30,12.53,12.80,12.81,73.65,73.8,73.96,74.12,74.20,74.36,74.41,74.41
11,JAWA BARAT,10.58,10.78,11.24,11.75,12.03,12.34,12.50,12.51,73.27,73.53,73.79,74.05,74.18,74.36,74.39,74.42
12,JAWA TENGAH,10.95,11.15,11.35,11.87,12.14,12.47,12.57,12.63,74.75,74.92,75.1,75.28,75.87,75.95,75.99,76.02
13,DI YOGYAKARTA,13.68,14.43,14.47,14.49,14.50,14.88,14.92,15.14,76.06,76.14,76.24,76.32,76.36,76.54,76.54,76.57
14,JAWA TIMUR,11.39,11.51,11.73,12.09,12.31,12.60,12.78,13.03,71.89,72.01,72.13,72.33,72.44,72.67,72.68,72.70
15,BANTEN,11.36,11.6,11.85,12.10,12.32,12.47,12.60,12.77,70.48,70.66,70.84,71.02,71.11,71.41,71.44,71.47
16,BALI,11.46,11.88,12.08,12.21,12.46,12.59,12.77,13.13,72.59,72.76,72.91,73.07,73.15,73.31,73.32,73.35
17,NUSA TENGGARA BARAT,11.5,11.73,12.13,12.41,12.66,12.91,12.93,13.36,65.77,66.09,66.4,66.70,66.85,67.33,67.39,67.42
18,NUSA TENGGARA TIMUR,10.93,11.61,11.87,12.30,12.71,13.01,13.07,13.08,67.24,67.41,67.6,67.77,67.85,67.91,67.92,67.96
19,KALIMANTAN BARAT,10.7,10.71,11.05,11.61,11.62,12.11,12.30,12.68,71.07,71.28,71.47,71.66,71.75,71.87,71.89,71.90
20,KALIMANTAN TENGAH,11.13,11.15,11.23,11.74,12.38,12.41,12.42,12.48,70.98,71.06,71.16,71.23,71.34,71.49,71.49,71.50
21,KALIMANTAN SELATAN,10.97,11.3,11.63,11.79,12.12,12.29,12.41,12.42,68.63,68.86,69.09,69.33,69.45,69.78,69.84,69.95
22,KALIMANTAN TIMUR,12.01,12.32,12.63,13.01,13.23,13.29,13.53,13.67,74.84,75.05,75.27,75.46,75.56,75.59,75.59,75.61
23,KALIMANTAN UTARA,-,-,-,12.48,12.64,12.65,12.70,12.77,-,-,-,73.88,73.98,74.28,74.30,74.34
24,SULAWESI UTARA,11.75,11.79,12.19,12.35,12.51,12.63,12.88,12.95,72.39,72.55,72.7,72.85,72.92,72.98,72.99,73.01
25,SULAWESI TENGAH,11.37,11.96,12.46,12.61,13.09,13.12,13.16,13.27,68.07,68.39,68.7,69.02,69.18,69.26,69.28,69.29
26,SULAWESI SELATAN,11.8,12.09,12.35,12.68,13.10,13.27,13.41,13.59,70.94,71.12,71.31,71.50,71.59,71.80,71.84,71.86
27,SULAWESI TENGGARA,12.24,12.32,12.66,12.77,12.87,13.35,13.37,13.54,71.67,71.87,72.08,72.30,72.41,72.46,72.47,72.47
28,GORONTALO,11.48,12.24,12.47,12.49,12.91,13.23,13.40,13.50,68.41,68.59,68.77,68.94,69.03,69.14,69.16,69.20
29,SULAWESI BARAT,10.68,11.25,11.37,11.75,12.13,12.41,12.52,12.71,64.45,64.72,65,65.28,66.00,66.18,66.20,66.23
30,MALUKU,12.88,13.24,13.32,13.70,13.72,13.73,13.78,14.25,66.42,66.58,66.74,66.90,66.98,67.28,67.34,67.39
31,MALUKU UTARA,11.79,11.88,12.22,12.57,12.92,13.11,13.40,13.43,68.69,68.88,69.08,69.28,69.38,69.48,69.50,69.53
32,PAPUA BARAT,10.64,10.97,11.28,11.37,11.48,11.68,11.90,12.10,66.57,66.72,66.86,67.02,67.10,67.15,67.16,67.19
33,PAPUA,8.23,8.64,8.96,9.45,9.85,9.85,9.93,10.24,66.19,66.34,66.48,66.64,66.72,66.97,66.99,67.00
34,INDONESIA,11.37,11.56,11.75,12.13,12.40,12.68,12.79,12.93,71.83,72.02,72.22,72.41,72.59,72.78,72.80,73.06

In [75]:
mer_3 = data1.drop(['2010 P', '2011 P', '2012 P', '2013 P', '2014 P', '2015 P', '2016 P', '2017 P'], axis=1)
mer_3

,PROVINSI,2010 L,2011 L,2012 L,2013 L,2014 L,2015 L,2016 L,2017 L
0,ACEH,12.61,12.8,12.81,13.11,13.33,13.43,13.67,13.95
1,SUMATERA UTARA,11.77,11.77,11.78,12.26,12.43,12.47,12.67,12.92
2,SUMATERA BARAT,11.83,11.89,12.36,12.75,13.07,13.07,13.35,13.53
3,RIAU,11.6,11.68,11.72,12.20,12.28,12.55,12.74,12.84
4,JAMBI,11.24,11.54,11.58,12.03,12.27,12.28,12.57,12.72
5,SUMATERA SELATAN,10.81,11.16,11.26,11.34,11.74,11.86,12.17,12.18
6,BENGKULU,11.45,11.83,11.85,12.62,12.86,12.87,13.20,13.29
7,LAMPUNG,10.76,10.81,11.27,11.83,12.15,12.16,12.28,12.29
8,KEP. BANGKA BELITUNG,10.24,10.5,10.53,10.79,11.11,11.45,11.56,11.66
9,KEP. RIAU,11.15,11.57,11.76,12.12,12.38,12.39,12.52,12.76
10,DKI JAKARTA,12.22,12.24,12.26,12.28,12.47,12.61,12.68,12.96
11,JAWA BARAT,10.81,11.02,11.24,11.87,12.13,12.14,12.15,12.41
12,JAWA TENGAH,11.17,11.22,11.43,11.91,12.20,12.29,12.34,12.52
13,DI YOGYAKARTA,14.56,14.76,14.78,14.80,15.21,15.22,15.53,15.54
14,JAWA TIMUR,11.61,11.72,11.76,12.24,12.60,12.72,13.20,13.21
15,BANTEN,10.71,11.2,11.73,12.00,12.29,12.30,12.79,12.80
16,BALI,11.95,12.39,12.42,12.56,12.82,13.31,13.32,13.33
17,NUSA TENGGARA BARAT,11.86,12.24,12.33,12.54,12.83,13.17,13.40,13.58
18,NUSA TENGGARA TIMUR,10.78,11.48,11.61,12.23,12.60,12.70,12.84,13.05
19,KALIMANTAN BARAT,10.86,11.01,11.17,11.60,12.40,12.41,12.45,12.46
20,KALIMANTAN TENGAH,11.04,11.13,11.21,11.60,11.73,12.05,12.24,12.44
21,KALIMANTAN SELATAN,10.74,11.09,11.44,11.55,11.81,12.15,12.16,12.53
22,KALIMANTAN TIMUR,11.75,12.05,12.34,12.71,13.12,13.13,13.20,13.42
23,KALIMANTAN UTARA,-,-,-,12.18,12.45,12.46,12.47,12.81
24,SULAWESI UTARA,10.95,11.22,11.38,11.61,11.86,12.24,12.27,12.42
25,SULAWESI TENGAH,10.99,11.68,11.73,12.12,12.37,12.39,12.69,12.82
26,SULAWESI SELATAN,11.13,11.54,11.97,12.40,12.70,12.73,12.91,12.99
27,SULAWESI TENGGARA,12.07,12.28,12.3,12.32,12.69,12.80,13.09,13.17
28,GORONTALO,10.74,11.13,11.45,11.77,12.08,12.19,12.41,12.54
29,SULAWESI BARAT,10.52,11.16,11.22,11.34,11.46,11.96,12.16,12.27
30,MALUKU,12.39,12.46,12.65,13.01,13.33,13.47,13.68,13.69
31,MALUKU UTARA,11.27,11.72,12.18,12.40,12.52,13.09,13.51,13.69
32,PAPUA BARAT,11.48,11.53,11.58,11.94,12.21,12.68,12.88,13.13
33,PAPUA,8.88,9.17,9.24,9.68,10.02,10.10,10.38,10.65
34,INDONESIA,11.2,11.41,11.63,12.07,12.37,12.42,12.67,12.78

In [76]:
mer_33 = data2.drop(['2010 P', '2011 P', '2012 P', '2013 P', '2014 P', '2015 P', '2016 P', '2017 P'], axis=1)
mer_33

,PROVINSI,2010 L,2011 L,2012 L,2013 L,2014 L,2015 L,2016 L,2017 L
0,ACEH,67.17,67.25,67.32,67.40,67.44,67.59,67.61,67.62
1,SUMATERA UTARA,65.59,65.76,65.93,66.06,66.16,66.41,66.48,66.49
2,SUMATERA BARAT,65.7,65.9,66.11,66.31,66.41,66.75,66.90,66.94
3,RIAU,68.26,68.43,68.61,68.79,68.88,69.05,69.10,69.12
4,JAMBI,67.99,68.14,68.3,68.46,68.54,68.67,68.69,68.75
5,SUMATERA SELATAN,66.45,66.62,66.78,66.95,67.03,67.25,67.28,67.29
6,BENGKULU,65.92,66.08,66.26,66.43,66.47,66.60,66.62,66.64
7,LAMPUNG,67.01,67.23,67.45,67.66,67.76,68.00,68.03,68.04
8,KEP. BANGKA BELITUNG,67.25,67.42,67.6,67.77,67.85,68.01,68.05,68.08
9,KEP. RIAU,66.54,66.76,66.98,67.18,67.28,67.54,67.59,67.60
10,DKI JAKARTA,69.86,70.02,70.19,70.36,70.44,70.60,70.72,70.78
11,JAWA BARAT,69.4,69.68,69.95,70.22,70.35,70.54,70.57,70.58
12,JAWA TENGAH,70.8,70.99,71.18,71.37,71.97,72.05,72.10,72.16
13,DI YOGYAKARTA,72.36,72.47,72.57,72.67,72.72,72.90,72.92,72.95
14,JAWA TIMUR,68,68.13,68.25,68.45,68.56,68.79,68.80,68.82
15,BANTEN,66.6,66.78,66.97,67.15,67.24,67.54,67.54,67.57
16,BALI,68.73,68.89,69.06,69.24,69.33,69.49,69.55,69.58
17,NUSA TENGGARA BARAT,61.95,62.27,62.56,62.88,63.04,63.52,63.55,63.57
18,NUSA TENGGARA TIMUR,63.42,63.59,63.77,63.95,64.04,64.09,64.17,64.20
19,KALIMANTAN BARAT,67.15,67.35,67.56,67.76,67.86,67.97,67.99,68.00
20,KALIMANTAN TENGAH,67.16,67.25,67.35,67.41,67.52,67.67,67.68,67.69
21,KALIMANTAN SELATAN,64.76,64.99,65.23,65.46,65.57,65.90,65.92,65.98
22,KALIMANTAN TIMUR,71.03,71.25,71.46,71.68,71.79,71.82,71.85,71.87
23,KALIMANTAN UTARA,-,-,-,70.06,70.17,70.47,70.49,70.50
24,SULAWESI UTARA,68.51,68.65,68.8,68.95,69.03,69.08,69.09,69.11
25,SULAWESI TENGAH,64.17,64.48,64.8,65.11,65.27,65.34,65.39,65.40
26,SULAWESI SELATAN,67.01,67.2,67.4,67.59,67.69,67.89,67.94,67.96
27,SULAWESI TENGGARA,67.72,67.93,68.14,68.35,68.45,68.50,68.54,68.57
28,GORONTALO,64.51,64.68,64.84,65.00,65.08,65.20,65.22,65.22
29,SULAWESI BARAT,60.64,60.92,61.18,61.46,62.18,62.36,62.49,62.52
30,MALUKU,62.59,62.74,62.9,63.04,63.11,63.41,63.44,63.49
31,MALUKU UTARA,64.8,64.97,65.12,65.31,65.41,65.50,65.53,65.56
32,PAPUA BARAT,62.7,62.88,63,63.17,63.26,63.31,63.32,63.34
33,PAPUA,62.51,62.66,62.81,62.97,63.05,63.30,63.44,63.45
34,INDONESIA,67.89,68.09,68.29,68.49,68.87,68.93,69.09,69.16

In [77]:
mer3 = pd.merge(mer_3, mer_33, on='PROVINSI')
mer3

,PROVINSI,2010 L_x,2011 L_x,2012 L_x,2013 L_x,2014 L_x,2015 L_x,2016 L_x,2017 L_x,2010 L_y,2011 L_y,2012 L_y,2013 L_y,2014 L_y,2015 L_y,2016 L_y,2017 L_y
0,ACEH,12.61,12.8,12.81,13.11,13.33,13.43,13.67,13.95,67.17,67.25,67.32,67.40,67.44,67.59,67.61,67.62
1,SUMATERA UTARA,11.77,11.77,11.78,12.26,12.43,12.47,12.67,12.92,65.59,65.76,65.93,66.06,66.16,66.41,66.48,66.49
2,SUMATERA BARAT,11.83,11.89,12.36,12.75,13.07,13.07,13.35,13.53,65.7,65.9,66.11,66.31,66.41,66.75,66.90,66.94
3,RIAU,11.6,11.68,11.72,12.20,12.28,12.55,12.74,12.84,68.26,68.43,68.61,68.79,68.88,69.05,69.10,69.12
4,JAMBI,11.24,11.54,11.58,12.03,12.27,12.28,12.57,12.72,67.99,68.14,68.3,68.46,68.54,68.67,68.69,68.75
5,SUMATERA SELATAN,10.81,11.16,11.26,11.34,11.74,11.86,12.17,12.18,66.45,66.62,66.78,66.95,67.03,67.25,67.28,67.29
6,BENGKULU,11.45,11.83,11.85,12.62,12.86,12.87,13.20,13.29,65.92,66.08,66.26,66.43,66.47,66.60,66.62,66.64
7,LAMPUNG,10.76,10.81,11.27,11.83,12.15,12.16,12.28,12.29,67.01,67.23,67.45,67.66,67.76,68.00,68.03,68.04
8,KEP. BANGKA BELITUNG,10.24,10.5,10.53,10.79,11.11,11.45,11.56,11.66,67.25,67.42,67.6,67.77,67.85,68.01,68.05,68.08
9,KEP. RIAU,11.15,11.57,11.76,12.12,12.38,12.39,12.52,12.76,66.54,66.76,66.98,67.18,67.28,67.54,67.59,67.60
10,DKI JAKARTA,12.22,12.24,12.26,12.28,12.47,12.61,12.68,12.96,69.86,70.02,70.19,70.36,70.44,70.60,70.72,70.78
11,JAWA BARAT,10.81,11.02,11.24,11.87,12.13,12.14,12.15,12.41,69.4,69.68,69.95,70.22,70.35,70.54,70.57,70.58
12,JAWA TENGAH,11.17,11.22,11.43,11.91,12.20,12.29,12.34,12.52,70.8,70.99,71.18,71.37,71.97,72.05,72.10,72.16
13,DI YOGYAKARTA,14.56,14.76,14.78,14.80,15.21,15.22,15.53,15.54,72.36,72.47,72.57,72.67,72.72,72.90,72.92,72.95
14,JAWA TIMUR,11.61,11.72,11.76,12.24,12.60,12.72,13.20,13.21,68,68.13,68.25,68.45,68.56,68.79,68.80,68.82
15,BANTEN,10.71,11.2,11.73,12.00,12.29,12.30,12.79,12.80,66.6,66.78,66.97,67.15,67.24,67.54,67.54,67.57
16,BALI,11.95,12.39,12.42,12.56,12.82,13.31,13.32,13.33,68.73,68.89,69.06,69.24,69.33,69.49,69.55,69.58
17,NUSA TENGGARA BARAT,11.86,12.24,12.33,12.54,12.83,13.17,13.40,13.58,61.95,62.27,62.56,62.88,63.04,63.52,63.55,63.57
18,NUSA TENGGARA TIMUR,10.78,11.48,11.61,12.23,12.60,12.70,12.84,13.05,63.42,63.59,63.77,63.95,64.04,64.09,64.17,64.20
19,KALIMANTAN BARAT,10.86,11.01,11.17,11.60,12.40,12.41,12.45,12.46,67.15,67.35,67.56,67.76,67.86,67.97,67.99,68.00
20,KALIMANTAN TENGAH,11.04,11.13,11.21,11.60,11.73,12.05,12.24,12.44,67.16,67.25,67.35,67.41,67.52,67.67,67.68,67.69
21,KALIMANTAN SELATAN,10.74,11.09,11.44,11.55,11.81,12.15,12.16,12.53,64.76,64.99,65.23,65.46,65.57,65.90,65.92,65.98
22,KALIMANTAN TIMUR,11.75,12.05,12.34,12.71,13.12,13.13,13.20,13.42,71.03,71.25,71.46,71.68,71.79,71.82,71.85,71.87
23,KALIMANTAN UTARA,-,-,-,12.18,12.45,12.46,12.47,12.81,-,-,-,70.06,70.17,70.47,70.49,70.50
24,SULAWESI UTARA,10.95,11.22,11.38,11.61,11.86,12.24,12.27,12.42,68.51,68.65,68.8,68.95,69.03,69.08,69.09,69.11
25,SULAWESI TENGAH,10.99,11.68,11.73,12.12,12.37,12.39,12.69,12.82,64.17,64.48,64.8,65.11,65.27,65.34,65.39,65.40
26,SULAWESI SELATAN,11.13,11.54,11.97,12.40,12.70,12.73,12.91,12.99,67.01,67.2,67.4,67.59,67.69,67.89,67.94,67.96
27,SULAWESI TENGGARA,12.07,12.28,12.3,12.32,12.69,12.80,13.09,13.17,67.72,67.93,68.14,68.35,68.45,68.50,68.54,68.57
28,GORONTALO,10.74,11.13,11.45,11.77,12.08,12.19,12.41,12.54,64.51,64.68,64.84,65.00,65.08,65.20,65.22,65.22
29,SULAWESI BARAT,10.52,11.16,11.22,11.34,11.46,11.96,12.16,12.27,60.64,60.92,61.18,61.46,62.18,62.36,62.49,62.52
30,MALUKU,12.39,12.46,12.65,13.01,13.33,13.47,13.68,13.69,62.59,62.74,62.9,63.04,63.11,63.41,63.44,63.49
31,MALUKU UTARA,11.27,11.72,12.18,12.40,12.52,13.09,13.51,13.69,64.8,64.97,65.12,65.31,65.41,65.50,65.53,65.56
32,PAPUA BARAT,11.48,11.53,11.58,11.94,12.21,12.68,12.88,13.13,62.7,62.88,63,63.17,63.26,63.31,63.32,63.34
33,PAPUA,8.88,9.17,9.24,9.68,10.02,10.10,10.38,10.65,62.51,62.66,62.81,62.97,63.05,63.30,63.44,63.45
34,INDONESIA,11.2,11.41,11.63,12.07,12.37,12.42,12.67,12.78,67.89,68.09,68.29,68.49,68.87,68.93,69.09,69.16

In [78]:
del1 = mer2.drop([34])
del1

,PROVINSI,2010 P_x,2011 P_x,2012 P_x,2013 P_x,2014 P_x,2015 P_x,2016 P_x,2017 P_x,2010 P_y,2011 P_y,2012 P_y,2013 P_y,2014 P_y,2015 P_y,2016 P_y,2017 P_y
0,ACEH,13.21,13.27,13.6,13.63,13.75,14.05,14.11,14.32,71.09,71.16,71.22,71.30,71.34,71.49,71.52,71.55
1,SUMATERA UTARA,11.86,11.94,12.19,12.56,12.82,13.20,13.34,13.35,69.43,69.61,69.78,69.91,70.01,70.26,70.29,70.29
2,SUMATERA BARAT,12.59,13.15,13.28,13.57,13.90,14.14,14.24,14.38,69.58,69.78,69.99,70.20,70.31,70.65,70.65,70.70
3,RIAU,11.94,12.08,12.21,12.35,12.48,12.95,13.00,13.23,72.14,72.3,72.46,72.64,72.73,72.90,72.90,72.92
4,JAMBI,11.45,11.66,11.87,12.31,12.50,12.88,12.89,13.04,71.88,72.03,72.18,72.33,72.41,72.54,72.62,72.67
5,SUMATERA SELATAN,11.25,11.26,11.58,11.58,11.76,12.20,12.30,12.56,70.34,70.49,70.66,70.83,70.91,71.13,71.16,71.17
6,BENGKULU,11.74,11.93,12.57,12.95,13.19,13.56,13.57,13.86,69.81,69.98,70.16,70.32,70.35,70.48,70.49,70.51
7,LAMPUNG,10.99,11.29,11.48,11.97,12.35,12.40,12.46,12.67,70.9,71.1,71.31,71.53,71.64,71.88,71.90,71.91
8,KEP. BANGKA BELITUNG,10.73,10.9,11.09,11.13,11.28,11.70,11.88,12.00,71.14,71.3,71.45,71.61,71.69,71.85,71.88,71.89
9,KEP. RIAU,11.91,11.97,12.03,12.40,12.66,12.82,12.82,12.88,70.39,70.59,70.81,71.02,71.12,71.38,71.39,71.40
10,DKI JAKARTA,11.55,11.63,11.78,12.22,12.30,12.53,12.80,12.81,73.65,73.8,73.96,74.12,74.20,74.36,74.41,74.41
11,JAWA BARAT,10.58,10.78,11.24,11.75,12.03,12.34,12.50,12.51,73.27,73.53,73.79,74.05,74.18,74.36,74.39,74.42
12,JAWA TENGAH,10.95,11.15,11.35,11.87,12.14,12.47,12.57,12.63,74.75,74.92,75.1,75.28,75.87,75.95,75.99,76.02
13,DI YOGYAKARTA,13.68,14.43,14.47,14.49,14.50,14.88,14.92,15.14,76.06,76.14,76.24,76.32,76.36,76.54,76.54,76.57
14,JAWA TIMUR,11.39,11.51,11.73,12.09,12.31,12.60,12.78,13.03,71.89,72.01,72.13,72.33,72.44,72.67,72.68,72.70
15,BANTEN,11.36,11.6,11.85,12.10,12.32,12.47,12.60,12.77,70.48,70.66,70.84,71.02,71.11,71.41,71.44,71.47
16,BALI,11.46,11.88,12.08,12.21,12.46,12.59,12.77,13.13,72.59,72.76,72.91,73.07,73.15,73.31,73.32,73.35
17,NUSA TENGGARA BARAT,11.5,11.73,12.13,12.41,12.66,12.91,12.93,13.36,65.77,66.09,66.4,66.70,66.85,67.33,67.39,67.42
18,NUSA TENGGARA TIMUR,10.93,11.61,11.87,12.30,12.71,13.01,13.07,13.08,67.24,67.41,67.6,67.77,67.85,67.91,67.92,67.96
19,KALIMANTAN BARAT,10.7,10.71,11.05,11.61,11.62,12.11,12.30,12.68,71.07,71.28,71.47,71.66,71.75,71.87,71.89,71.90
20,KALIMANTAN TENGAH,11.13,11.15,11.23,11.74,12.38,12.41,12.42,12.48,70.98,71.06,71.16,71.23,71.34,71.49,71.49,71.50
21,KALIMANTAN SELATAN,10.97,11.3,11.63,11.79,12.12,12.29,12.41,12.42,68.63,68.86,69.09,69.33,69.45,69.78,69.84,69.95
22,KALIMANTAN TIMUR,12.01,12.32,12.63,13.01,13.23,13.29,13.53,13.67,74.84,75.05,75.27,75.46,75.56,75.59,75.59,75.61
23,KALIMANTAN UTARA,-,-,-,12.48,12.64,12.65,12.70,12.77,-,-,-,73.88,73.98,74.28,74.30,74.34
24,SULAWESI UTARA,11.75,11.79,12.19,12.35,12.51,12.63,12.88,12.95,72.39,72.55,72.7,72.85,72.92,72.98,72.99,73.01
25,SULAWESI TENGAH,11.37,11.96,12.46,12.61,13.09,13.12,13.16,13.27,68.07,68.39,68.7,69.02,69.18,69.26,69.28,69.29
26,SULAWESI SELATAN,11.8,12.09,12.35,12.68,13.10,13.27,13.41,13.59,70.94,71.12,71.31,71.50,71.59,71.80,71.84,71.86
27,SULAWESI TENGGARA,12.24,12.32,12.66,12.77,12.87,13.35,13.37,13.54,71.67,71.87,72.08,72.30,72.41,72.46,72.47,72.47
28,GORONTALO,11.48,12.24,12.47,12.49,12.91,13.23,13.40,13.50,68.41,68.59,68.77,68.94,69.03,69.14,69.16,69.20
29,SULAWESI BARAT,10.68,11.25,11.37,11.75,12.13,12.41,12.52,12.71,64.45,64.72,65,65.28,66.00,66.18,66.20,66.23
30,MALUKU,12.88,13.24,13.32,13.70,13.72,13.73,13.78,14.25,66.42,66.58,66.74,66.90,66.98,67.28,67.34,67.39
31,MALUKU UTARA,11.79,11.88,12.22,12.57,12.92,13.11,13.40,13.43,68.69,68.88,69.08,69.28,69.38,69.48,69.50,69.53
32,PAPUA BARAT,10.64,10.97,11.28,11.37,11.48,11.68,11.90,12.10,66.57,66.72,66.86,67.02,67.10,67.15,67.16,67.19
33,PAPUA,8.23,8.64,8.96,9.45,9.85,9.85,9.93,10.24,66.19,66.34,66.48,66.64,66.72,66.97,66.99,67.00

In [79]:
del2 = mer3.drop([34])
del2

,PROVINSI,2010 L_x,2011 L_x,2012 L_x,2013 L_x,2014 L_x,2015 L_x,2016 L_x,2017 L_x,2010 L_y,2011 L_y,2012 L_y,2013 L_y,2014 L_y,2015 L_y,2016 L_y,2017 L_y
0,ACEH,12.61,12.8,12.81,13.11,13.33,13.43,13.67,13.95,67.17,67.25,67.32,67.40,67.44,67.59,67.61,67.62
1,SUMATERA UTARA,11.77,11.77,11.78,12.26,12.43,12.47,12.67,12.92,65.59,65.76,65.93,66.06,66.16,66.41,66.48,66.49
2,SUMATERA BARAT,11.83,11.89,12.36,12.75,13.07,13.07,13.35,13.53,65.7,65.9,66.11,66.31,66.41,66.75,66.90,66.94
3,RIAU,11.6,11.68,11.72,12.20,12.28,12.55,12.74,12.84,68.26,68.43,68.61,68.79,68.88,69.05,69.10,69.12
4,JAMBI,11.24,11.54,11.58,12.03,12.27,12.28,12.57,12.72,67.99,68.14,68.3,68.46,68.54,68.67,68.69,68.75
5,SUMATERA SELATAN,10.81,11.16,11.26,11.34,11.74,11.86,12.17,12.18,66.45,66.62,66.78,66.95,67.03,67.25,67.28,67.29
6,BENGKULU,11.45,11.83,11.85,12.62,12.86,12.87,13.20,13.29,65.92,66.08,66.26,66.43,66.47,66.60,66.62,66.64
7,LAMPUNG,10.76,10.81,11.27,11.83,12.15,12.16,12.28,12.29,67.01,67.23,67.45,67.66,67.76,68.00,68.03,68.04
8,KEP. BANGKA BELITUNG,10.24,10.5,10.53,10.79,11.11,11.45,11.56,11.66,67.25,67.42,67.6,67.77,67.85,68.01,68.05,68.08
9,KEP. RIAU,11.15,11.57,11.76,12.12,12.38,12.39,12.52,12.76,66.54,66.76,66.98,67.18,67.28,67.54,67.59,67.60
10,DKI JAKARTA,12.22,12.24,12.26,12.28,12.47,12.61,12.68,12.96,69.86,70.02,70.19,70.36,70.44,70.60,70.72,70.78
11,JAWA BARAT,10.81,11.02,11.24,11.87,12.13,12.14,12.15,12.41,69.4,69.68,69.95,70.22,70.35,70.54,70.57,70.58
12,JAWA TENGAH,11.17,11.22,11.43,11.91,12.20,12.29,12.34,12.52,70.8,70.99,71.18,71.37,71.97,72.05,72.10,72.16
13,DI YOGYAKARTA,14.56,14.76,14.78,14.80,15.21,15.22,15.53,15.54,72.36,72.47,72.57,72.67,72.72,72.90,72.92,72.95
14,JAWA TIMUR,11.61,11.72,11.76,12.24,12.60,12.72,13.20,13.21,68,68.13,68.25,68.45,68.56,68.79,68.80,68.82
15,BANTEN,10.71,11.2,11.73,12.00,12.29,12.30,12.79,12.80,66.6,66.78,66.97,67.15,67.24,67.54,67.54,67.57
16,BALI,11.95,12.39,12.42,12.56,12.82,13.31,13.32,13.33,68.73,68.89,69.06,69.24,69.33,69.49,69.55,69.58
17,NUSA TENGGARA BARAT,11.86,12.24,12.33,12.54,12.83,13.17,13.40,13.58,61.95,62.27,62.56,62.88,63.04,63.52,63.55,63.57
18,NUSA TENGGARA TIMUR,10.78,11.48,11.61,12.23,12.60,12.70,12.84,13.05,63.42,63.59,63.77,63.95,64.04,64.09,64.17,64.20
19,KALIMANTAN BARAT,10.86,11.01,11.17,11.60,12.40,12.41,12.45,12.46,67.15,67.35,67.56,67.76,67.86,67.97,67.99,68.00
20,KALIMANTAN TENGAH,11.04,11.13,11.21,11.60,11.73,12.05,12.24,12.44,67.16,67.25,67.35,67.41,67.52,67.67,67.68,67.69
21,KALIMANTAN SELATAN,10.74,11.09,11.44,11.55,11.81,12.15,12.16,12.53,64.76,64.99,65.23,65.46,65.57,65.90,65.92,65.98
22,KALIMANTAN TIMUR,11.75,12.05,12.34,12.71,13.12,13.13,13.20,13.42,71.03,71.25,71.46,71.68,71.79,71.82,71.85,71.87
23,KALIMANTAN UTARA,-,-,-,12.18,12.45,12.46,12.47,12.81,-,-,-,70.06,70.17,70.47,70.49,70.50
24,SULAWESI UTARA,10.95,11.22,11.38,11.61,11.86,12.24,12.27,12.42,68.51,68.65,68.8,68.95,69.03,69.08,69.09,69.11
25,SULAWESI TENGAH,10.99,11.68,11.73,12.12,12.37,12.39,12.69,12.82,64.17,64.48,64.8,65.11,65.27,65.34,65.39,65.40
26,SULAWESI SELATAN,11.13,11.54,11.97,12.40,12.70,12.73,12.91,12.99,67.01,67.2,67.4,67.59,67.69,67.89,67.94,67.96
27,SULAWESI TENGGARA,12.07,12.28,12.3,12.32,12.69,12.80,13.09,13.17,67.72,67.93,68.14,68.35,68.45,68.50,68.54,68.57
28,GORONTALO,10.74,11.13,11.45,11.77,12.08,12.19,12.41,12.54,64.51,64.68,64.84,65.00,65.08,65.20,65.22,65.22
29,SULAWESI BARAT,10.52,11.16,11.22,11.34,11.46,11.96,12.16,12.27,60.64,60.92,61.18,61.46,62.18,62.36,62.49,62.52
30,MALUKU,12.39,12.46,12.65,13.01,13.33,13.47,13.68,13.69,62.59,62.74,62.9,63.04,63.11,63.41,63.44,63.49
31,MALUKU UTARA,11.27,11.72,12.18,12.40,12.52,13.09,13.51,13.69,64.8,64.97,65.12,65.31,65.41,65.50,65.53,65.56
32,PAPUA BARAT,11.48,11.53,11.58,11.94,12.21,12.68,12.88,13.13,62.7,62.88,63,63.17,63.26,63.31,63.32,63.34
33,PAPUA,8.88,9.17,9.24,9.68,10.02,10.10,10.38,10.65,62.51,62.66,62.81,62.97,63.05,63.30,63.44,63.45

In [80]:
data1['RASIO AHS 2017'] = (data1['2017 L']) / (data1['2017 P'])
data1

,PROVINSI,2010 L,2011 L,2012 L,2013 L,2014 L,2015 L,2016 L,2017 L,2010 P,2011 P,2012 P,2013 P,2014 P,2015 P,2016 P,2017 P,RASIO AHS 2017
0,ACEH,12.61,12.8,12.81,13.11,13.33,13.43,13.67,13.95,13.21,13.27,13.6,13.63,13.75,14.05,14.11,14.32,0.974162
1,SUMATERA UTARA,11.77,11.77,11.78,12.26,12.43,12.47,12.67,12.92,11.86,11.94,12.19,12.56,12.82,13.20,13.34,13.35,0.967790
2,SUMATERA BARAT,11.83,11.89,12.36,12.75,13.07,13.07,13.35,13.53,12.59,13.15,13.28,13.57,13.90,14.14,14.24,14.38,0.940890
3,RIAU,11.6,11.68,11.72,12.20,12.28,12.55,12.74,12.84,11.94,12.08,12.21,12.35,12.48,12.95,13.00,13.23,0.970522
4,JAMBI,11.24,11.54,11.58,12.03,12.27,12.28,12.57,12.72,11.45,11.66,11.87,12.31,12.50,12.88,12.89,13.04,0.975460
5,SUMATERA SELATAN,10.81,11.16,11.26,11.34,11.74,11.86,12.17,12.18,11.25,11.26,11.58,11.58,11.76,12.20,12.30,12.56,0.969745
6,BENGKULU,11.45,11.83,11.85,12.62,12.86,12.87,13.20,13.29,11.74,11.93,12.57,12.95,13.19,13.56,13.57,13.86,0.958874
7,LAMPUNG,10.76,10.81,11.27,11.83,12.15,12.16,12.28,12.29,10.99,11.29,11.48,11.97,12.35,12.40,12.46,12.67,0.970008
8,KEP. BANGKA BELITUNG,10.24,10.5,10.53,10.79,11.11,11.45,11.56,11.66,10.73,10.9,11.09,11.13,11.28,11.70,11.88,12.00,0.971667
9,KEP. RIAU,11.15,11.57,11.76,12.12,12.38,12.39,12.52,12.76,11.91,11.97,12.03,12.40,12.66,12.82,12.82,12.88,0.990683
10,DKI JAKARTA,12.22,12.24,12.26,12.28,12.47,12.61,12.68,12.96,11.55,11.63,11.78,12.22,12.30,12.53,12.80,12.81,1.011710
11,JAWA BARAT,10.81,11.02,11.24,11.87,12.13,12.14,12.15,12.41,10.58,10.78,11.24,11.75,12.03,12.34,12.50,12.51,0.992006
12,JAWA TENGAH,11.17,11.22,11.43,11.91,12.20,12.29,12.34,12.52,10.95,11.15,11.35,11.87,12.14,12.47,12.57,12.63,0.991291
13,DI YOGYAKARTA,14.56,14.76,14.78,14.80,15.21,15.22,15.53,15.54,13.68,14.43,14.47,14.49,14.50,14.88,14.92,15.14,1.026420
14,JAWA TIMUR,11.61,11.72,11.76,12.24,12.60,12.72,13.20,13.21,11.39,11.51,11.73,12.09,12.31,12.60,12.78,13.03,1.013814
15,BANTEN,10.71,11.2,11.73,12.00,12.29,12.30,12.79,12.80,11.36,11.6,11.85,12.10,12.32,12.47,12.60,12.77,1.002349
16,BALI,11.95,12.39,12.42,12.56,12.82,13.31,13.32,13.33,11.46,11.88,12.08,12.21,12.46,12.59,12.77,13.13,1.015232
17,NUSA TENGGARA BARAT,11.86,12.24,12.33,12.54,12.83,13.17,13.40,13.58,11.5,11.73,12.13,12.41,12.66,12.91,12.93,13.36,1.016467
18,NUSA TENGGARA TIMUR,10.78,11.48,11.61,12.23,12.60,12.70,12.84,13.05,10.93,11.61,11.87,12.30,12.71,13.01,13.07,13.08,0.997706
19,KALIMANTAN BARAT,10.86,11.01,11.17,11.60,12.40,12.41,12.45,12.46,10.7,10.71,11.05,11.61,11.62,12.11,12.30,12.68,0.982650
20,KALIMANTAN TENGAH,11.04,11.13,11.21,11.60,11.73,12.05,12.24,12.44,11.13,11.15,11.23,11.74,12.38,12.41,12.42,12.48,0.996795
21,KALIMANTAN SELATAN,10.74,11.09,11.44,11.55,11.81,12.15,12.16,12.53,10.97,11.3,11.63,11.79,12.12,12.29,12.41,12.42,1.008857
22,KALIMANTAN TIMUR,11.75,12.05,12.34,12.71,13.12,13.13,13.20,13.42,12.01,12.32,12.63,13.01,13.23,13.29,13.53,13.67,0.981712
23,KALIMANTAN UTARA,-,-,-,12.18,12.45,12.46,12.47,12.81,-,-,-,12.48,12.64,12.65,12.70,12.77,1.003132
24,SULAWESI UTARA,10.95,11.22,11.38,11.61,11.86,12.24,12.27,12.42,11.75,11.79,12.19,12.35,12.51,12.63,12.88,12.95,0.959073
25,SULAWESI TENGAH,10.99,11.68,11.73,12.12,12.37,12.39,12.69,12.82,11.37,11.96,12.46,12.61,13.09,13.12,13.16,13.27,0.966089
26,SULAWESI SELATAN,11.13,11.54,11.97,12.40,12.70,12.73,12.91,12.99,11.8,12.09,12.35,12.68,13.10,13.27,13.41,13.59,0.955850
27,SULAWESI TENGGARA,12.07,12.28,12.3,12.32,12.69,12.80,13.09,13.17,12.24,12.32,12.66,12.77,12.87,13.35,13.37,13.54,0.972674
28,GORONTALO,10.74,11.13,11.45,11.77,12.08,12.19,12.41,12.54,11.48,12.24,12.47,12.49,12.91,13.23,13.40,13.50,0.928889
29,SULAWESI BARAT,10.52,11.16,11.22,11.34,11.46,11.96,12.16,12.27,10.68,11.25,11.37,11.75,12.13,12.41,12.52,12.71,0.965382
30,MALUKU,12.39,12.46,12.65,13.01,13.33,13.47,13.68,13.69,12.88,13.24,13.32,13.70,13.72,13.73,13.78,14.25,0.960702
31,MALUKU UTARA,11.27,11.72,12.18,12.40,12.52,13.09,13.51,13.69,11.79,11.88,12.22,12.57,12.92,13.11,13.40,13.43,1.019360
32,PAPUA BARAT,11.48,11.53,11.58,11.94,12.21,12.68,12.88,13.13,10.64,10.97,11.28,11.37,11.48,11.68,11.90,12.10,1.085124
33,PAPUA,8.88,9.17,9.24,9.68,10.02,10.10,10.38,10.65,8.23,8.64,8.96,9.45,9.85,9.85,9.93,10.24,1.040039
34,INDONESIA,11.2,11.41,11.63,12.07,12.37,12.42,12.67,12.78,11.37,11.56,11.75,12.13,12.40,12.68,12.79,12.93,0.988399

In [81]:
data2['RASIO AHH 2017'] = (data2['2017 L']) / (data2['2017 P'])
data2

,PROVINSI,2010 L,2011 L,2012 L,2013 L,2014 L,2015 L,2016 L,2017 L,2010 P,2011 P,2012 P,2013 P,2014 P,2015 P,2016 P,2017 P,RASIO AHH 2017
0,ACEH,67.17,67.25,67.32,67.40,67.44,67.59,67.61,67.62,71.09,71.16,71.22,71.30,71.34,71.49,71.52,71.55,0.945073
1,SUMATERA UTARA,65.59,65.76,65.93,66.06,66.16,66.41,66.48,66.49,69.43,69.61,69.78,69.91,70.01,70.26,70.29,70.29,0.945938
2,SUMATERA BARAT,65.7,65.9,66.11,66.31,66.41,66.75,66.90,66.94,69.58,69.78,69.99,70.20,70.31,70.65,70.65,70.70,0.946818
3,RIAU,68.26,68.43,68.61,68.79,68.88,69.05,69.10,69.12,72.14,72.3,72.46,72.64,72.73,72.90,72.90,72.92,0.947888
4,JAMBI,67.99,68.14,68.3,68.46,68.54,68.67,68.69,68.75,71.88,72.03,72.18,72.33,72.41,72.54,72.62,72.67,0.946058
5,SUMATERA SELATAN,66.45,66.62,66.78,66.95,67.03,67.25,67.28,67.29,70.34,70.49,70.66,70.83,70.91,71.13,71.16,71.17,0.945483
6,BENGKULU,65.92,66.08,66.26,66.43,66.47,66.60,66.62,66.64,69.81,69.98,70.16,70.32,70.35,70.48,70.49,70.51,0.945114
7,LAMPUNG,67.01,67.23,67.45,67.66,67.76,68.00,68.03,68.04,70.9,71.1,71.31,71.53,71.64,71.88,71.90,71.91,0.946183
8,KEP. BANGKA BELITUNG,67.25,67.42,67.6,67.77,67.85,68.01,68.05,68.08,71.14,71.3,71.45,71.61,71.69,71.85,71.88,71.89,0.947002
9,KEP. RIAU,66.54,66.76,66.98,67.18,67.28,67.54,67.59,67.60,70.39,70.59,70.81,71.02,71.12,71.38,71.39,71.40,0.946779
10,DKI JAKARTA,69.86,70.02,70.19,70.36,70.44,70.60,70.72,70.78,73.65,73.8,73.96,74.12,74.20,74.36,74.41,74.41,0.951216
11,JAWA BARAT,69.4,69.68,69.95,70.22,70.35,70.54,70.57,70.58,73.27,73.53,73.79,74.05,74.18,74.36,74.39,74.42,0.948401
12,JAWA TENGAH,70.8,70.99,71.18,71.37,71.97,72.05,72.10,72.16,74.75,74.92,75.1,75.28,75.87,75.95,75.99,76.02,0.949224
13,DI YOGYAKARTA,72.36,72.47,72.57,72.67,72.72,72.90,72.92,72.95,76.06,76.14,76.24,76.32,76.36,76.54,76.54,76.57,0.952723
14,JAWA TIMUR,68,68.13,68.25,68.45,68.56,68.79,68.80,68.82,71.89,72.01,72.13,72.33,72.44,72.67,72.68,72.70,0.946630
15,BANTEN,66.6,66.78,66.97,67.15,67.24,67.54,67.54,67.57,70.48,70.66,70.84,71.02,71.11,71.41,71.44,71.47,0.945432
16,BALI,68.73,68.89,69.06,69.24,69.33,69.49,69.55,69.58,72.59,72.76,72.91,73.07,73.15,73.31,73.32,73.35,0.948603
17,NUSA TENGGARA BARAT,61.95,62.27,62.56,62.88,63.04,63.52,63.55,63.57,65.77,66.09,66.4,66.70,66.85,67.33,67.39,67.42,0.942895
18,NUSA TENGGARA TIMUR,63.42,63.59,63.77,63.95,64.04,64.09,64.17,64.20,67.24,67.41,67.6,67.77,67.85,67.91,67.92,67.96,0.944673
19,KALIMANTAN BARAT,67.15,67.35,67.56,67.76,67.86,67.97,67.99,68.00,71.07,71.28,71.47,71.66,71.75,71.87,71.89,71.90,0.945758
20,KALIMANTAN TENGAH,67.16,67.25,67.35,67.41,67.52,67.67,67.68,67.69,70.98,71.06,71.16,71.23,71.34,71.49,71.49,71.50,0.946713
21,KALIMANTAN SELATAN,64.76,64.99,65.23,65.46,65.57,65.90,65.92,65.98,68.63,68.86,69.09,69.33,69.45,69.78,69.84,69.95,0.943245
22,KALIMANTAN TIMUR,71.03,71.25,71.46,71.68,71.79,71.82,71.85,71.87,74.84,75.05,75.27,75.46,75.56,75.59,75.59,75.61,0.950536
23,KALIMANTAN UTARA,-,-,-,70.06,70.17,70.47,70.49,70.50,-,-,-,73.88,73.98,74.28,74.30,74.34,0.948345
24,SULAWESI UTARA,68.51,68.65,68.8,68.95,69.03,69.08,69.09,69.11,72.39,72.55,72.7,72.85,72.92,72.98,72.99,73.01,0.946583
25,SULAWESI TENGAH,64.17,64.48,64.8,65.11,65.27,65.34,65.39,65.40,68.07,68.39,68.7,69.02,69.18,69.26,69.28,69.29,0.943859
26,SULAWESI SELATAN,67.01,67.2,67.4,67.59,67.69,67.89,67.94,67.96,70.94,71.12,71.31,71.50,71.59,71.80,71.84,71.86,0.945728
27,SULAWESI TENGGARA,67.72,67.93,68.14,68.35,68.45,68.50,68.54,68.57,71.67,71.87,72.08,72.30,72.41,72.46,72.47,72.47,0.946185
28,GORONTALO,64.51,64.68,64.84,65.00,65.08,65.20,65.22,65.22,68.41,68.59,68.77,68.94,69.03,69.14,69.16,69.20,0.942486
29,SULAWESI BARAT,60.64,60.92,61.18,61.46,62.18,62.36,62.49,62.52,64.45,64.72,65,65.28,66.00,66.18,66.20,66.23,0.943983
30,MALUKU,62.59,62.74,62.9,63.04,63.11,63.41,63.44,63.49,66.42,66.58,66.74,66.90,66.98,67.28,67.34,67.39,0.942128
31,MALUKU UTARA,64.8,64.97,65.12,65.31,65.41,65.50,65.53,65.56,68.69,68.88,69.08,69.28,69.38,69.48,69.50,69.53,0.942902
32,PAPUA BARAT,62.7,62.88,63,63.17,63.26,63.31,63.32,63.34,66.57,66.72,66.86,67.02,67.10,67.15,67.16,67.19,0.942700
33,PAPUA,62.51,62.66,62.81,62.97,63.05,63.30,63.44,63.45,66.19,66.34,66.48,66.64,66.72,66.97,66.99,67.00,0.947015
34,INDONESIA,67.89,68.09,68.29,68.49,68.87,68.93,69.09,69.16,71.83,72.02,72.22,72.41,72.59,72.78,72.80,73.06,0.946619